@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tnum {
	font-feature-settings: "tnum";
}

.fill::after, .fill:hover::after {
    content: "";
    background: #FBB6CE;
    position: absolute;
    height: 100%;
    /*left: -18px;*/
    z-index: 0;
    transition: ease opacity .2s;
    top: 0;
    opacity: .2;
}

.fill:hover::after {
    opacity: .25;
}


.fill-1::after {
	width: 1%;
}

.fill-2::after {
	width: 2%;
}

.fill-3::after {
	width: 3%;
}

.fill-4::after {
	width: 4%;
}

.fill-5::after {
	width: 5%;
}

.fill-6::after {
	width: 6%;
}

.fill-7::after {
	width: 7%;
}

.fill-8::after {
	width: 8%;
}

.fill-9::after {
	width: 9%;
}

.fill-10::after {
	width: 10%;
}

.fill-11::after {
	width: 11%;
}

.fill-12::after {
	width: 12%;
}

.fill-13::after {
	width: 13%;
}

.fill-14::after {
	width: 14%;
}

.fill-15::after {
	width: 15%;
}

.fill-16::after {
	width: 16%;
}

.fill-17::after {
	width: 17%;
}

.fill-18::after {
	width: 18%;
}

.fill-19::after {
	width: 19%;
}

.fill-20::after {
	width: 20%;
}

.fill-21::after {
	width: 21%;
}

.fill-22::after {
	width: 22%;
}

.fill-23::after {
	width: 23%;
}

.fill-24::after {
	width: 24%;
}

.fill-25::after {
	width: 25%;
}

.fill-26::after {
	width: 26%;
}

.fill-27::after {
	width: 27%;
}

.fill-28::after {
	width: 28%;
}

.fill-29::after {
	width: 29%;
}

.fill-30::after {
	width: 30%;
}

.fill-31::after {
	width: 31%;
}

.fill-32::after {
	width: 32%;
}

.fill-33::after {
	width: 33%;
}

.fill-34::after {
	width: 34%;
}

.fill-35::after {
	width: 35%;
}

.fill-36::after {
	width: 36%;
}

.fill-37::after {
	width: 37%;
}

.fill-38::after {
	width: 38%;
}

.fill-39::after {
	width: 39%;
}

.fill-40::after {
	width: 40%;
}

.fill-41::after {
	width: 41%;
}

.fill-42::after {
	width: 42%;
}

.fill-43::after {
	width: 43%;
}

.fill-44::after {
	width: 44%;
}

.fill-45::after {
	width: 45%;
}

.fill-46::after {
	width: 46%;
}

.fill-47::after {
	width: 47%;
}

.fill-48::after {
	width: 48%;
}

.fill-49::after {
	width: 49%;
}

.fill-50::after {
	width: 50%;
}

.fill-51::after {
	width: 51%;
}

.fill-52::after {
	width: 52%;
}

.fill-53::after {
	width: 53%;
}

.fill-54::after {
	width: 54%;
}

.fill-55::after {
	width: 55%;
}

.fill-56::after {
	width: 56%;
}

.fill-57::after {
	width: 57%;
}

.fill-58::after {
	width: 58%;
}

.fill-59::after {
	width: 59%;
}

.fill-60::after {
	width: 60%;
}

.fill-61::after {
	width: 61%;
}

.fill-62::after {
	width: 62%;
}

.fill-63::after {
	width: 63%;
}

.fill-64::after {
	width: 64%;
}

.fill-65::after {
	width: 65%;
}

.fill-66::after {
	width: 66%;
}

.fill-67::after {
	width: 67%;
}

.fill-68::after {
	width: 68%;
}

.fill-69::after {
	width: 69%;
}

.fill-70::after {
	width: 70%;
}

.fill-71::after {
	width: 71%;
}

.fill-72::after {
	width: 72%;
}

.fill-73::after {
	width: 73%;
}

.fill-74::after {
	width: 74%;
}

.fill-75::after {
	width: 75%;
}

.fill-76::after {
	width: 76%;
}

.fill-77::after {
	width: 77%;
}

.fill-78::after {
	width: 78%;
}

.fill-79::after {
	width: 79%;
}

.fill-80::after {
	width: 80%;
}

.fill-81::after {
	width: 81%;
}

.fill-82::after {
	width: 82%;
}

.fill-83::after {
	width: 83%;
}

.fill-84::after {
	width: 84%;
}

.fill-85::after {
	width: 85%;
}

.fill-86::after {
	width: 86%;
}

.fill-87::after {
	width: 87%;
}

.fill-88::after {
	width: 88%;
}

.fill-89::after {
	width: 89%;
}

.fill-90::after {
	width: 90%;
}

.fill-91::after {
	width: 91%;
}

.fill-92::after {
	width: 92%;
}

.fill-93::after {
	width: 93%;
}

.fill-94::after {
	width: 94%;
}

.fill-95::after {
	width: 95%;
}

.fill-96::after {
	width: 96%;
}

.fill-97::after {
	width: 97%;
}

.fill-98::after {
	width: 98%;
}

.fill-99::after {
	width: 99%;
}

.fill-100::after {
	width: 100%;
}